---
import Layout from "@layouts/Layout.astro";

if (Astro.cookies.has("__tk__") == false) return Astro.redirect("/SignIn");

const credentials = {
  email: "user8@example.com",
  password: "use1234",
};

if (
  Astro.request.method == "GET" &&
  Astro.request.headers.has("Content-Request")
) {
  return new Response(
    JSON.stringify({
      code: 200,
      hasError: false,
      payload: {
        propieda: "hi",
      },
    }),
    { status: 200 }
  );
}
---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-white text-3xl">Hola</h1>
  </main>
</Layout>
